/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}


/* HEADER */
header {
  background-color: #ff6900;
  padding: 10px;
  box-shadow: 0 5px 5px #a69d97 ;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu ul,
.shop ul{
  display: flex;
  flex-direction: row;
}

.menu ul li,
.shop ul li {
  margin-right: 5px;
}

.logo {
  width: 100px;
}

.logo img {
  max-width: 100%;
}

/* MAIN */
main {
  padding: 100px 0;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* TOP-CARD */
.card {
  width: calc(100% / 3 - 40px);
  min-width: 250px;
  margin: 20px;
}

.card:hover {
  cursor: pointer;
}

.top-card {
  position: relative;
}

.top-card img {
  max-width: 100%;
}

/* IMAGE CHANGE */
.image-change {
  display: block;
}

.image-change2 {
  display: none;
}

.top-card:hover .image-change {
  display: none;
}

.top-card:hover .image-change2 {
  display: block;
}

/* POSITION CONTENENTS CARDS */
.top-card .heart {
  font-size: 1.3rem;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 0;
}

.heart:hover {
  color: red;
}

.rectangle {
  position: absolute;
  bottom: 50px;
  color: white;
  font-size: 0.7rem;
}

.sales {
  background-color: red;
  padding: 3px 8px;
}

.eco-friendly {
  background-color: #008000;
  padding: 3px 8px;
}

/* BOTTOM-CARD */
.font-small{
  font-weight: 400;
}

.brand {
  display: block;
  font-size: 0.8rem;
}

.price-new {
  color: red;
}

